## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Chapais,CA,49.7834,-74.8492,69.58,64,15,5.68,few clouds
1,1,Saint-Philippe,RE,-21.3585,55.7679,71.19,82,98,17.67,light rain
2,2,Ponta Do Sol,PT,32.6667,-17.1000,66.83,77,15,5.64,few clouds
3,3,Lompoc,US,34.6391,-120.4579,69.78,77,90,11.01,overcast clouds
4,4,Kasongo-Lunda,CD,-6.4667,16.8167,67.17,49,11,1.48,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
user_min = float(input("What is the minimum temperature you would like for your trip? "))
user_max = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= user_max) & \
                                       (city_data_df["Max Temp"] >= user_min)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Atuona,PF,-9.8000,-139.0333,80.01,64,22,7.25,few clouds
18,18,Kahului,US,20.8947,-156.4700,86.02,64,40,23.02,scattered clouds
19,19,Saint Anthony,US,45.0205,-93.2180,89.38,47,1,4.00,clear sky
30,30,Kapaa,US,22.0752,-159.3190,84.18,68,20,5.01,few clouds
34,34,Hilo,US,19.7297,-155.0900,83.28,71,90,13.80,overcast clouds
35,35,Manokwari,ID,-0.8667,134.0833,82.22,71,100,3.15,overcast clouds
47,47,Butaritari,KI,3.0707,172.7902,82.89,72,17,8.50,light rain
54,54,Aquiraz,BR,-3.9014,-38.3911,80.69,83,42,9.22,scattered clouds
60,60,San Patricio,US,28.0170,-97.5169,84.92,88,2,14.00,clear sky
64,64,Victoria,HK,22.2855,114.1577,84.96,79,81,3.00,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                134
City                   134
Country                134
Lat                    134
Lng                    134
Max Temp               134
Humidity               134
Cloudiness             134
Wind Speed             134
Current Description    134
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Atuona,PF,80.01,few clouds,-9.8000,-139.0333,
18,Kahului,US,86.02,scattered clouds,20.8947,-156.4700,
19,Saint Anthony,US,89.38,clear sky,45.0205,-93.2180,
30,Kapaa,US,84.18,few clouds,22.0752,-159.3190,
34,Hilo,US,83.28,overcast clouds,19.7297,-155.0900,
35,Manokwari,ID,82.22,overcast clouds,-0.8667,134.0833,
47,Butaritari,KI,82.89,light rain,3.0707,172.7902,
54,Aquiraz,BR,80.69,scattered clouds,-3.9014,-38.3911,
60,San Patricio,US,84.92,clear sky,28.0170,-97.5169,
64,Victoria,HK,84.96,broken clouds,22.2855,114.1577,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Atuona,PF,80.01,few clouds,-9.8000,-139.0333,
18,Kahului,US,86.02,scattered clouds,20.8947,-156.4700,
19,Saint Anthony,US,89.38,clear sky,45.0205,-93.2180,
30,Kapaa,US,84.18,few clouds,22.0752,-159.3190,
34,Hilo,US,83.28,overcast clouds,19.7297,-155.0900,
...,...,...,...,...,...,...,...
650,Reo,BF,83.07,broken clouds,12.3167,-2.4667,
653,Batticaloa,LK,82.31,overcast clouds,7.7102,81.6924,
654,Laureles,US,85.10,clear sky,26.1092,-97.4941,
664,Vanimo,PG,82.87,broken clouds,-2.6741,141.3028,
681,Celestun,MX,84.16,overcast clouds,20.8667,-90.4000,

In [10]:
# 8a. Create the output File (CSV)
clean_hotel_df = hotel_df
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotels_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
locations

         Lat       Lng
7    -9.8000 -139.0333
18   20.8947 -156.4700
19   45.0205  -93.2180
30   22.0752 -159.3190
34   19.7297 -155.0900
..       ...       ...
650  12.3167   -2.4667
653   7.7102   81.6924
654  26.1092  -97.4941
664  -2.6741  141.3028
681  20.8667  -90.4000

[134 rows x 2 columns]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
user_max = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)


marker_layer = gmaps.marker_layer(locations, info_box_content=hotels_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
print (clean_hotel_df)

              City Country  Max Temp Current Description      Lat       Lng  \
7           Atuona      PF     80.01          few clouds  -9.8000 -139.0333
18         Kahului      US     86.02    scattered clouds  20.8947 -156.4700
19   Saint Anthony      US     89.38           clear sky  45.0205  -93.2180
30           Kapaa      US     84.18          few clouds  22.0752 -159.3190
34            Hilo      US     83.28     overcast clouds  19.7297 -155.0900
..             ...     ...       ...                 ...      ...       ...
650            Reo      BF     83.07       broken clouds  12.3167   -2.4667
653     Batticaloa      LK     82.31     overcast clouds   7.7102   81.6924
654       Laureles      US     85.10           clear sky  26.1092  -97.4941
664         Vanimo      PG     82.87       broken clouds  -2.6741  141.3028
681       Celestun      MX     84.16     overcast clouds  20.8667  -90.4000

    Hotel Name
7
18
19
30
34
..         ...
650
653
654
664
681

[134 rows x 7 columns]

In [15]:
pd.read_csv("WeatherPy_Database.csv")

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Chapais,CA,49.7834,-74.8492,69.58,64,15,5.68,few clouds
1,1,Saint-Philippe,RE,-21.3585,55.7679,71.19,82,98,17.67,light rain
2,2,Ponta Do Sol,PT,32.6667,-17.1000,66.83,77,15,5.64,few clouds
3,3,Lompoc,US,34.6391,-120.4579,69.78,77,90,11.01,overcast clouds
4,4,Kasongo-Lunda,CD,-6.4667,16.8167,67.17,49,11,1.48,few clouds
...,...,...,...,...,...,...,...,...,...,...
678,678,High Level,CA,58.5169,-117.1360,64.51,36,40,10.13,scattered clouds
679,679,Binga,ZW,-17.6203,27.3414,52.70,65,12,1.25,few clouds
680,680,Pimentel,PE,-6.8367,-79.9342,68.29,85,90,1.01,overcast clouds
681,681,Celestun,MX,20.8667,-90.4000,84.16,73,100,13.65,overcast clouds
682,682,Saryg-Sep,RU,51.5000,95.6000,51.98,58,56,3.06,broken clouds